{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="product-img-overlay" style="background-position: center center; background-image: url('{{section.settings.main_image | img_url: '1600x'}}');">
  <div class="page-width">
    <div class="container-inner text-left">
      <div class="pro-title">{{product.title}}</div>
      <div class="pro-item__price-wrapper">{% if product.compare_at_price > product.price %}
        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        <s class="pro-item__price--reg">{{ product.compare_at_price | money_without_trailing_zeros }}</s>
        <span class="pro-item__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span>{% else %}{% if product.price_varies %}
        {{ 'products.general.from_text_html' | t: price: price }}{% else %}{% if product.compare_at_price > product.price %}
        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>{% else %}
        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>{% endif %}
        {{ product.price | money_without_trailing_zeros }}{% endif %}{% endif %}
      </div>
      <div class="pro-description">{{product.description}}</div>
    </div>
  </div>
</div>
{% form 'product', product, id:form_id, class: 'page-width mix-me-tea-kit-form' %}
  <div class="grid grid--uniform grid--no-gutters" data-aos="row-of-2">
      <div class="grid__item small--one-whole medium--two-thirds large-up--two-thirds">
	    <div class="choose-drink">
		  <div class="choose-heading">
	        <span class="step-label">Step 1</span> Chose 5 Drinks
		  </div>
		  <div class="choose-flavor">
		   <div class="flavor-selector-wrapper" style="display:none;">
             <select id="variant-0">
              {% for variant in product.variants %}
                <option{% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %}{% unless variant.available %} disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
              {% endfor %}
             </select>
             <input type="number" id="quantity-0" tabindex="1" value="1">
           </div>
		   <div class="flavor-selector-wrapper">
             <label for="properties-flavors-1">Flavor 1</label>
             <select class="option-selector" id="properties-flavors-1" name="properties[Flavor 1]">
               <option value="0" disabled selected>Select Option</option>
               {%- for block in section.blocks -%}{%- if block.type == 'flavor' -%}
               <optgroup label="{{ block.settings.option_group_title }}">
                 {%- assign optionlist = block.settings.option_list | split: ', ' -%}
                 {%- for option in optionlist -%}
                 <option value="{{ option | escape }}">{{ option }}</option>
                 {%- endfor -%}
               </optgroup>
               {%- endif -%}{%- endfor -%}
             </select>
            </div>
            <div class="flavor-selector-wrapper">
             <label for="properties-flavors-2">Flavor 2</label>
             <select class="option-selector" id="properties-flavors-2" name="properties[Flavor 2]">
               <option value="0" disabled selected>Select Option</option>
               {%- for block in section.blocks -%}{%- if block.type == 'flavor' -%}
               <optgroup label="{{ block.settings.option_group_title }}">
                 {%- assign optionlist = block.settings.option_list | split: ', ' -%}
                 {%- for option in optionlist -%}
                 <option value="{{ option | escape }}">{{ option }}</option>
                 {%- endfor -%}
               </optgroup>
               {%- endif -%}{%- endfor -%}
             </select>
            </div>
            <div class="flavor-selector-wrapper">
             <label for="properties-flavors-3">Flavor 3</label>
             <select class="option-selector" id="properties-flavors-3" name="properties[Flavor 3]">
               <option value="0" disabled selected>Select Option</option>
               {%- for block in section.blocks -%}{%- if block.type == 'flavor' -%}
               <optgroup label="{{ block.settings.option_group_title }}">
                 {%- assign optionlist = block.settings.option_list | split: ', ' -%}
                 {%- for option in optionlist -%}
                 <option value="{{ option | escape }}">{{ option }}</option>
                 {%- endfor -%}
               </optgroup>
               {%- endif -%}{%- endfor -%}
             </select>
            </div>
            <div class="flavor-selector-wrapper">
             <label for="properties-flavors-4">Flavor 4</label>
             <select class="option-selector" id="properties-flavors-4" name="properties[Flavor 4]">
               <option value="0" disabled selected>Select Option</option>
               {%- for block in section.blocks -%}{%- if block.type == 'flavor' -%}
               <optgroup label="{{ block.settings.option_group_title }}">
                 {%- assign optionlist = block.settings.option_list | split: ', ' -%}
                 {%- for option in optionlist -%}
                 <option value="{{ option | escape }}">{{ option }}</option>
                 {%- endfor -%}
               </optgroup>
               {%- endif -%}{%- endfor -%}
             </select>
            </div>
            <div class="flavor-selector-wrapper">
             <label for="properties-flavors-5">Flavor 5</label>
             <select class="option-selector" id="properties-flavors-5" name="properties[Flavor 5]">
               <option value="0" disabled selected>Select Option</option>
               {%- for block in section.blocks -%}{%- if block.type == 'flavor' -%}
               <optgroup label="{{ block.settings.option_group_title }}">
                 {%- assign optionlist = block.settings.option_list | split: ', ' -%}
                 {%- for option in optionlist -%}
                 <option value="{{ option | escape }}">{{ option }}</option>
                 {%- endfor -%}
               </optgroup>
               {%- endif -%}{%- endfor -%}
             </select>
            </div>
		  </div>

          <div class="choose-heading">
	        <span class="step-label">Step 2</span> Toppings
		  </div>
		  <div class="choose-content">
           {%- for block in section.blocks -%}{%- if block.type == 'topping' -%}
		   <div class="topping-selector-wrapper">
             <div class="grid__item small--one-half medium--one-half large-up--one-half">
               <div class="overlay_unchecked" id="properties-toppings-{{block.settings.topping_name | handle}}-check">
                 <span class="overlay_background_c"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                 <img src="{{block.settings.topping_image | img_url: 'large'}}" alt="{{ block.settings.topping_image.alt | escape }}" class="summary-img">
               </div>
             </div>
             <div class="grid__item small--one-half medium--one-half large-up--one-half" style="padding-right: 30px;">
               <label for="properties-toppings-{{block.settings.topping_name | handle}}">{{block.settings.topping_name}}</label>
               <select class="option-quantity" id="properties-toppings-{{block.settings.topping_name | handle}}" name="properties[Topping: {{block.settings.topping_name}}]">
                 <option value="0">Quantity</option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
               </select>
             </div>
		   </div>
           {%- endif -%}{%- endfor -%}
		  </div>
          {%comment%}
          <div class="choose-heading">
	        <span class="step-label">Step 3</span> Accessories
		  </div>
		  <div class="choose-content">
           {%- for block in section.blocks -%}{%- if block.type == 'accessories' -%}
           {%- assign accessories = all_products[block.settings.accessories_product] -%}
		   <div class="accessories-selector-wrapper">
             <div class="grid__item small--one-half medium--one-half large-up--one-half">
               <img src="{{accessories.featured_image | img_url: 'large'}}" alt="{{ accessories.alt | escape }}" class="summary-img">
             </div>
             <div class="grid__item small--one-half medium--one-half large-up--one-half" style="padding-right: 30px;">
               <select id="variant-{{ forloop.index0 }}" style="display:none;">{% for variant in accessories.variants %}
                <option {% if variant == accessories.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>{% endfor %}
               </select>
               <label for="quantity-{{ forloop.index0 }}">{{ accessories.title }}
                 <span class="select-price money">{{ accessorie.price | money }}</span>
               </label>
               <select class="option-quantity" id="quantity-{{ forloop.index0 }}">
                 <option value="0">Quantity</option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
               </select>
             </div>
		   </div>
           {%- endif -%}{%- endfor -%}
		  </div>
          {%endcomment%}
          <div class="choose-heading">
	        <span class="step-label">Step 3</span> Add-Ons
		  </div>
		  <div class="choose-content">
           {%- for block in section.blocks -%}{%- if block.type == 'add-ons' -%}
           {%- assign addons = all_products[block.settings.add-ons_product] -%}
		   <div class="add-ons-selector-wrapper">
             <div class="grid__item small--one-half medium--one-half large-up--one-half">
               <img src="{{addons.featured_image | img_url: 'large'}}" alt="{{ addons.alt | escape }}" class="summary-img">
             </div>
             <div class="grid__item small--one-half medium--one-half large-up--one-half" style="padding-right: 30px;">
               <select id="variant-{{ forloop.index0 }}" style="display:none;">{% for variant in addons.variants %}
                <option {% if variant == addons.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>{% endfor %}
               </select>
               <label for="quantity-{{ forloop.index0 }}">{{ addons.title }}
                 <span class="select-price money">{{ addons.price | money }}</span>
               </label>
               <select class="option-quantity" id="quantity-{{ forloop.index0 }}">
                 <option value="0">Quantity</option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
               </select>
             </div>
		   </div>
           {%- endif -%}{%- endfor -%}
		  </div>
		</div>
        
      </div>
      <div class="grid__item small--one-whole medium--one-third large-up--one-third">
        <img src="{{ featured_image | img_url: 'grande' }}" class="summary-img">
        <div class="order-summary">
		  <div class="summary-heading">
            Order Summary
		  </div>
          <span class="product-label">{{ product.title }}</span>
		  <div class="summary-content">
            <div class="item-heading">Drinks <span class="included">(Included)</span></div>
            <ul class="all-items">
              {%- for i in (1..5) -%}
              <li id="properties-flavor-{{i}}" data-connect="properties-flavors-{{i}}" style="display: none;"><span></span><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
              {%- endfor -%}
            </ul>
            
            <div class="item-heading">Toppings <span class="included">(Included)</span></div>
            <ul class="all-items">
              {%- for block in section.blocks -%}{%- if block.type == 'topping' -%}
              <li id="properties-topping-{{block.settings.topping_name | handle}}" data-connect="properties-toppings-{{block.settings.topping_name | handle}}" style="display: none;"><span></span><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
              {%- endif -%}{%- endfor -%}
            </ul>
            
            <div class="item-heading">Accessories <span class="included">(Included)</span></div>
            <ul class="all-items">
              {%- for block in section.blocks -%}{%- if block.type == 'accessories' -%}
              <li id="properties-accessorie-{{ forloop.index0 }}" data-connect="quantity-{{ forloop.index0 }}" style="display: none;"><span></span><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
              {%- endif -%}{%- endfor -%}
            </ul>
            
            <div class="item-heading">Add-Ons <span class="included">(Extra)</span></div>
            <ul class="all-items">
              {%- for block in section.blocks -%}{%- if block.type == 'add-ons' -%}
              <li id="properties-add-on-{{ forloop.index0 }}" data-connect="quantity-{{ forloop.index0 }}" style="display: none;"><span></span><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
              {%- endif -%}{%- endfor -%}
            </ul>
            
            <div class="cart-button">
              {% if product.available %}
              <button id="submit-table" type="submit" name="add" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" disabled="disabled">
                <span class="btn__text">Add to Bag</span>
              </button>
              {% else %}
              <button type="button" class="btn btn--add-to-cart btn--disabled{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" disabled="disabled">
                {{ 'products.product.sold_out' | t }}
              </button>
              {% endif %}
              <a href="/" class="returntocollection">Cancel</a>
            </div>
		  </div>
          
		</div>
      </div>
  </div>
{% endform %}

{% schema %}
{
  "name": "Product Customizer 1",
  "max_blocks": 20,
  "settings": [
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Image"
    }
  ],
  "blocks": [
    {
      "type": "flavor",
      "name": "Flavor",
      "settings": [
        {
          "type": "text",
          "id": "option_group_title",
          "label": "Option Group Title"
        },
        {
          "type": "textarea",
          "id": "option_list",
          "label": "Options List"
        }
      ]
    },
    {
      "type": "add-ons",
      "name": "Add-Ons",
      "settings": [
        {
          "type": "product",
          "id": "add-ons_product",
          "label": "Select Add-Ons Product"
        }
      ]
    },
    {
      "type": "accessories",
      "name": "Accessories",
      "settings": [
        {
          "type": "product",
          "id": "accessories_product",
          "label": "Select Accessories Product"
        }
      ]
    },
    {
      "type": "topping",
      "name": "Topping",
      "settings": [
        {
          "type": "image_picker",
          "id": "topping_image",
          "label": "Topping Image"
        },
        {
          "type": "text",
          "id": "topping_name",
          "label": "Topping Name"
        }
      ]
    }
  ]
}
{% endschema %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.product-img-overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 475px;
    margin-bottom: 50px;
}
.product-img-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
}
.container-inner {
    height: 475px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 55px 0;
    z-index: 2;
}
.container-inner .pro-title, .container-inner .pro-description p {
    color: #fff;
}
.choose-flavor, .choose-content, .choose-heading {
    display: inline-block;
    width: 100%;
}
.order-summary {
    display: inline-block;
    width: 100%;
    padding: 0 30px;
}
.choose-heading {
    font-size: 22px;
    font-weight: bold;
    padding: 0 30px;
}
.summary-heading {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    color: #8cc63f;
}
span.product-label {
    font-size: 19px;
    font-weight: bold;
}
span.step-label {
    background: #8cc63f;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 50px;
    margin-right: 10px;
    text-transform: uppercase;
}
.choose-heading:not(:first-child) {
    padding-top: 100px;
}
.choose-flavor {
    border-bottom: 1px solid #ddd;
    font-size: 17px;
    font-weight: bold;
    padding: 30px 30px 10px;
}
.choose-content {
    border-bottom: 1px solid #ddd;
    font-size: 17px;
    font-weight: bold;
    padding: 30px 0px 10px;
}
.summary-content {
    margin-top: 30px;
}
ul.all-items {
    list-style: none;
    margin-bottom: 25px;
}
ul.all-items li {
    font-size: 13px;
    color: #8c8a8a;
}
ul.all-items li i {
    float: right;
    color: #000;
    vertical-align: middle;
    display: block;
    margin: 3px 0;
}
.pro-title {
    font-size: 32px;
    font-weight: 600;
    font-family: unset;
}
.pro-item__price-wrapper {
    font-family: sans-serif;
    font-size: 25px;
    color: #fff;
    margin-bottom: 15px;
}
.pro-description {
    color: #fff;
}
.flavor-selector-wrapper, .topping-selector-wrapper, .accessories-selector-wrapper, .add-ons-selector-wrapper {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
}
.mix-me-tea-kit-form label {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}
.mix-me-tea-kit-form select {
    display: inline-block;
    border: 1px solid #d4d3d3;
    border-radius: 8px;
    width: 100%;
    outline: 0;
}
.mix-me-tea-kit-form label span.select-price {
    display: block;
    font-size: 15px;
    font-weight: 300;
}
.item-heading {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #c5c5c5;
}
.cart-button button {
    background: #8cc63f !important;
}
.cart-button button:hover {
    background: #000 !important;
}
a.returntocollection {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 2px;
    font-family: Quantico,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
.overlay_checked, .overlay_unchecked {position: relative;}.overlay_unchecked span.overlay_background_c {display: none;}.overlay_checked span.overlay_background_c {background: rgba(0, 0, 0, 0.4);position: absolute;top: 0;left: 0;right: 0;bottom: 0;}.overlay_checked i.fa.fa-check-circle {position: absolute;top: 35%;left: 42%;color: #8cc63f;font-size: 40px;}
@media only screen and (min-width: 750px) {
  .choose-drink {
    display: inline-block;
    width: 90%;
  }
}
@media only screen and (max-width: 749px) {
  .choose-drink {
    display: inline-block;
    width: 100%;
  }
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
var length = {{ section.blocks.size }};

$(document).ready(function () {
    {%- for i in (1..5) -%}
    $("#properties-flavor-{{i}} span").text('');
    $("#properties-flavor-{{i}}").slideUp();
    $("#properties-flavors-{{i}}").change(function() {
        $("#properties-flavor-{{i}} span").text($(this).val());
        $("#properties-flavor-{{i}}").slideDown();
        if($('#properties-flavors-1 :selected').val() != 0 && $('#properties-flavors-2 :selected').val() != 0 && $('#properties-flavors-3 :selected').val() != 0 && $('#properties-flavors-4 :selected').val() != 0 && $('#properties-flavors-5 :selected').val() != 0) { $('#submit-table').attr('disabled', false); }
    });
    {%- endfor -%}
    {%- for block in section.blocks -%}{%- if block.type == 'topping' -%}
    $("#properties-topping-{{block.settings.topping_name | handle}} span").text('');
    $("#properties-topping-{{block.settings.topping_name | handle}}").slideUp();
    $("#properties-toppings-{{block.settings.topping_name | handle}}").change(function() {
      if ( $(this).val() < 1) {
        $("#properties-topping-{{block.settings.topping_name | handle}} span").text('');
        $("#properties-topping-{{block.settings.topping_name | handle}}").slideUp();
		$("#properties-toppings-{{block.settings.topping_name | handle}}-check").removeClass('overlay_checked').addClass('overlay_unchecked');
      } else {
        $("#properties-topping-{{block.settings.topping_name | handle}} span").text($(this).val()+ ' {{block.settings.topping_name}}');
        $("#properties-topping-{{block.settings.topping_name | handle}}").slideDown();
		$("#properties-toppings-{{block.settings.topping_name | handle}}-check").removeClass('overlay_unchecked').addClass('overlay_checked');
      }
    });
    {%- endif -%}{%- endfor -%}
    {%- for block in section.blocks -%}{%- if block.type == 'accessories' -%}{%- assign accessories = all_products[block.settings.accessories_product] -%}
    $("#properties-add-on-{{ forloop.index0 }} span").text('');
    $("#properties-add-on-{{ forloop.index0 }}").slideUp();
    $("#quantity-{{ forloop.index0 }}").change(function() {
      if ( $(this).val() < 1) {
        $("#properties-add-on-{{ forloop.index0 }} span").text('');
        $("#properties-add-on-{{ forloop.index0 }}").slideUp();
      } else {
        $("#properties-add-on-{{ forloop.index0 }} span").text($(this).val()+ ' {{accessories.title}} x {{ accessories.price | money }}');
        $("#properties-add-on-{{ forloop.index0 }}").slideDown();
      }
    });
    {%- endif -%}{%- endfor -%}
    {%- for block in section.blocks -%}{%- if block.type == 'add-ons' -%}{%- assign addons = all_products[block.settings.add-ons_product] -%}
    $("#properties-add-on-{{ forloop.index0 }} span").text('');
    $("#properties-add-on-{{ forloop.index0 }}").slideUp();
    $("#quantity-{{ forloop.index0 }}").change(function() {
      if ( $(this).val() < 1) {
        $("#properties-add-on-{{ forloop.index0 }} span").text('');
        $("#properties-add-on-{{ forloop.index0 }}").slideUp();
      } else {
        $("#properties-add-on-{{ forloop.index0 }} span").text($(this).val()+ ' {{addons.title}} x {{ addons.price | money }}');
        $("#properties-add-on-{{ forloop.index0 }}").slideDown();
      }
    });
    {%- endif -%}{%- endfor -%}
    $("ul.all-items li i").click(function() {
       var idi = $(this).parents("li").data('connect');
       $(this).parents("li").slideUp()
       $('#'+idi).val('0');
    });
	$("#submit-table").click(function(e) {     
		e.preventDefault();
		//array for Variant Titles
		var toAdd1 = new Array();
        var toAdd2 = new Array();
        var qty ;
		for(i=0; i < length; i++){
         if ( i === 0) {
			toAdd1.push({
				variant_id: $("#variant-"+i).val(),
				quantity_id: $("#quantity-"+i).val() || 0
                //properties: {'Flavor 1': $("#properties-1").val(), 'Flavor 2': $("#properties-2").val(), 'Flavor 3': $("#properties-3").val(), 'Flavor 4': $("#properties-4").val(), 'Flavor 5': $("#properties-5").val()}
			});
         } else {
           toAdd2.push({
				variant_id: $("#variant-"+i).val(),
				quantity_id: $("#quantity-"+i).val() || 0
			});
         }
		}
		function moveAlong(){
			if (toAdd1.length) {
				var request = toAdd1.shift();
				var tempId= request.variant_id;
				var tempQty = request.quantity_id;
				var params = {
					type: 'POST',
					url: '/cart/add.js',
					data: 'quantity='+tempQty+'&id='+tempId {%- for i in (1..5) -%}+'&properties[Flavor {{i}}]='+$("#properties-flavors-"+{{i}}).val(){%- endfor -%}{%- for block in section.blocks -%}{%- if block.type == 'topping' -%}+'&properties[Topping: {{block.settings.topping_name}}]='+$("#properties-toppings-{{block.settings.topping_name | handle}}").val(){%- endif -%}{%- endfor -%},
					dataType: 'json',
					success: function(line_item) {
						moveAlong();
					},
					error: function() {
						moveAlong();
					}
				};
				$.ajax(params);
			} else
            if (toAdd2.length) {
				var request = toAdd2.shift();
				var tempId= request.variant_id;
				var tempQty = request.quantity_id;
				var params = {
					type: 'POST',
					url: '/cart/add.js',
					data: 'quantity='+tempQty+'&id='+tempId,
					dataType: 'json',
					success: function(line_item) {
						moveAlong();
					},
					error: function() {
						moveAlong();
					}
				};
				$.ajax(params);
			}
			else {				
				document.location.href = '/cart';
			}  
		};
		moveAlong();
	});
});

</script>
